<div class="footer-app">
  <div class="red-licensed" *ngIf="pantalla=='nuevo-look'">
    <span class="txt-licensed">Ducati Motor Holding S.p.A. Official Licensed Product</span>
  </div>
  <div class="pdp-tyc">
      <span class="txt-links" (click)="avisoPrivacidad()">Política de privacidad</span>
      <span class="txt-links" (click)="terminosCondiciones()">Términos y condiciones</span>
  </div>
  <div class="img-footer">
      <span class="copy">Carrera Eyewear &copy; 2025</span>
      <img src="/assets/images/liston-img.png" class="liston-img">
  </div>
</div>
