<!-- Vista móvil -->
<section class="registro-user">
  <ng-container *ngIf="isMobile(); else isDesktop">
    <div class="wrapper">
      <!-- Header de la vista de registro -->
      <div class="header mt-3">
        <img src="/assets/images/logo-marcas.png" class="logo-marca">
        <img src="/assets/images/login-img.png" class="login-img">
      </div>
      <!-- Inicia el body de la vista de registro -->
      <div class="registro-body mb-3">
        <div class="form-registro">
          <h1 class="title-login">Regístrate</h1>
          <!-- Aquí inician los input del formulario -->
          <mat-form-field class="inputs-login" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input [(ngModel)]="user.first_name" type="text" matInput placeholder="Ingresa nombre">
          </mat-form-field>
          <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.first_name }}</div>

          <mat-form-field class="inputs-login" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input [(ngModel)]="user.last_name" type="text" matInput placeholder="Ingresa apellido">
          </mat-form-field>
          <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>

          <mat-form-field class="inputs-login" appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input [(ngModel)]="user.email" type="email" matInput placeholder="Ingresa correo electrónico">
          </mat-form-field>
          <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>

          <mat-form-field class="inputs-login" appearance="outline">
            <mat-label class="label">Contraseña</mat-label>
            <input [(ngModel)]="user.password" type="{{ inputType_1 }}" class="input" matInput placeholder="Ingresa contraseña">
            <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>

          <mat-form-field class="inputs-login" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input [(ngModel)]="user.telefono" type="text" mask='(000) 000-0000' matInput placeholder="Ingresa teléfono">
          </mat-form-field>
          <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>

          <mat-form-field class="inputs-login" appearance="outline">
            <mat-label>Ciudad</mat-label>
            <input [(ngModel)]="user.ciudad" type="text" matInput placeholder="Ingresa ciudad">
          </mat-form-field>
          <div *ngIf="errors.ciudad" class="invalid-feedback">{{ errors.ciudad }}</div>

          <mat-form-field appearance="outline">
            <mat-label>Edad</mat-label>
            <mat-select [(ngModel)]="user.edad" name="edad">
                <mat-option *ngFor="let edad of edades" [value]="edad.value">
                    {{edad.value}}
                </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="errors.edad" class="invalid-feedback">{{ errors.edad }}</div>

          <!-- Checkbox para aceptar términos y condiciones -->
          <mat-checkbox class="example-margin" [(ngModel)]="user.terminos_condiciones">
            Acepto los <span class="label-pwd" (click)="terminosCondiciones()" style="cursor: pointer;">Términos y Condiciones</span>
          </mat-checkbox>

          <!-- Botón de registro -->
          <div class="d-flex flex-direction-row justify-content-center w-100 mt-4 mb-4">
            <button mat-flat-button color="warn" class="btn-login" (click)="registrar()">
                <span class="text-btn">Registrarme</span>
            </button>
          </div>
          <!-- Linea para separar el footer -->
          <hr>
          <div class="d-flex flex-direction-row justify-content-center w-100">
            <span class="txt-registro">¿Ya tienes una cuenta?<span class="red" (click)="goLogin()"> Inicia sesión</span></span>
          </div>
          <!-- Inicia footer -->
          <div class="footer mt-4">
              <img src="/assets/images/liston-img.png" class="liston-img">
          </div>
          <!-- Termina footer -->
        </div>
      </div>
    </div>
  </ng-container>
  <!-- Código html para la vista de pantalla completa (desktop) -->
  <ng-template #isDesktop>
    <div class="wrapper-desktop">
      <div class="body-desktop">
         <!-- Sección izquierda -->
        <div class="section-left">
          <div class="d-flex flex-direction-row justify-content-start w-100">
              <img src="/assets/images/logo-marcas.png" class="logo-marca-desktop">
          </div>
          <div class="d-flex flex-direction-row justify-content-start w-100 mt-4">
              <img src="/assets/images/login-img-lg.png" class="login-img-desktop">
          </div>
        </div>
        <!-- Sección derecha -->
        <div class="section-right">
          <div class="form-login-desktop">
            <h1 class="title-login">Regístrate</h1>
            <!-- Aquí van los input para la vista desktop -->
            <mat-form-field class="inputs-login" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input [(ngModel)]="user.first_name" type="text" matInput placeholder="Ingresa nombre" (keypress)="soloLetras($event)">
              </mat-form-field>
              <div *ngIf="errors.first_name" class="invalid-feedback">{{ errors.first_name }}</div>

              <mat-form-field class="inputs-login" appearance="outline">
                  <mat-label>Apellidos</mat-label>
                  <input [(ngModel)]="user.last_name" type="text" matInput placeholder="Ingresa apellido" (keypress)="soloLetras($event)">
              </mat-form-field>
              <div *ngIf="errors.last_name" class="invalid-feedback">{{ errors.last_name }}</div>

              <mat-form-field class="inputs-login" appearance="outline">
                  <mat-label>Correo Electrónico</mat-label>
                  <input [(ngModel)]="user.email" type="email" matInput placeholder="Ingresa correo electrónico">
              </mat-form-field>
              <div *ngIf="errors.email" class="invalid-feedback">{{ errors.email }}</div>

              <mat-form-field class="inputs-login" appearance="outline">
                  <mat-label class="label">Contraseña</mat-label>
                  <input [(ngModel)]="user.password" type="{{ inputType_1 }}" class="input" matInput placeholder="Ingresa contraseña">
                  <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
              <div *ngIf="errors.password" class="invalid-feedback">{{ errors.password }}</div>

              <mat-form-field class="inputs-login" appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input [(ngModel)]="user.telefono" type="text" mask='(000) 000-0000' matInput placeholder="Ingresa teléfono">
              </mat-form-field>
              <div *ngIf="errors.telefono" class="invalid-feedback">{{ errors.telefono }}</div>

              <mat-form-field class="inputs-login" appearance="outline">
                  <mat-label>Ciudad</mat-label>
                  <input [(ngModel)]="user.ciudad" type="text" matInput placeholder="Ingresa ciudad">
              </mat-form-field>
              <div *ngIf="errors.ciudad" class="invalid-feedback">{{ errors.ciudad }}</div>

              <mat-form-field appearance="outline">
                  <mat-label>Edad</mat-label>
                  <mat-select [(ngModel)]="user.edad" name="edad">
                      <mat-option *ngFor="let edad of edades" [value]="edad.value">
                          {{edad.value}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              <div *ngIf="errors.edad" class="invalid-feedback">{{ errors.edad }}</div>

              <!-- Checkbox para aceptar términos y condiciones -->
              <mat-checkbox class="example-margin" [(ngModel)]="user.terminos_condiciones">
                  Acepto los <span class="label-pwd" (click)="terminosCondiciones()" style="cursor: pointer;">Términos y Condiciones</span>
              </mat-checkbox>

              <!-- Botón de registro -->
              <div class="d-flex flex-direction-row justify-content-center w-100 mt-4 mb-4">
                  <button mat-flat-button color="warn" class="btn-login" (click)="registrar()">
                      <span class="text-btn">Registrarme</span>
                  </button>
              </div>
              <!-- Linea para separar el footer -->
              <hr>
              <div class="d-flex flex-direction-row justify-content-center w-100">
                  <span class="txt-registro">¿Ya tienes una cuenta?<span class="red" (click)="goLogin()"> Inicia sesión</span></span>
              </div>
          </div>
        </div>
      </div>
      <!-- Se coloca el footer de la aplicación -->
      <div class="footer-desktop">
        <img src="/assets/images/liston-img.png" class="liston-img">
      </div>
    </div>
  </ng-template>
</section>
