<div class="wrapper">
  <!-- Cabecera con fondo blanco y la X de cerrar -->
  <div class="header-sidebar">
    <div class="icon-close" (click)="cerrar_drawer()">
        <img src="/assets/images/cerrar-icon.png" class="img-close">
    </div>
  </div>
  <!-- Body que muestra los links de navegación -->
  <div class="body-sidebar">
    <!-- Navegación a iniciar sesión -->
    <div class="links" *ngIf="!isLogin" (click)="iniciarSesion()">
      <div class="line-color">
        <div class="vertical-line" style="height: 111px;"></div>
      </div>
      <div class="title-link">
        <span>Inicar sesión</span>
      </div>
      <div class="arrow-icon">
        <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
      </div>
    </div>
    <!-- Navegación a página de inicio -->
    <div class="links" *ngIf="isLogin" (click)="goInicio()">
      <div class="line-color">
          <div class="vertical-line" style="height: 111px;"></div>
      </div>
      <div class="title-link">
          <span>Inicio</span>
      </div>
      <div class="arrow-icon">
          <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
      </div>
    </div>
    <!-- Navegación a la vista bases de la promoción -->
    <div class="links" (click)="goBasesPromocion()">
      <div class="line-color">
          <div class="vertical-line" style="height: 111px;"></div>
      </div>
      <div class="title-link">
          <span>Bases de la promoción</span>
      </div>
      <div class="arrow-icon">
          <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
      </div>
    </div>
    <!-- Navegación a la vista tiendas participantes -->
    <div class="links" (click)="goTiendasParticipantes()">
      <div class="line-color">
          <div class="vertical-line" style="height: 111px;"></div>
      </div>
      <div class="title-link">
          <span>Tiendas participantes</span>
      </div>
      <div class="arrow-icon">
          <mat-icon class="icon-right">arrow_forward_ios</mat-icon>
      </div>
    </div>
    <!-- TODO: Después agregarán una opción perfil del usuario -->
  </div>
  <!-- Footer en caso de que tenga sesión iniciada -->
  <div class="footer-sidebar" (click)="logout()" *ngIf="isLogin">
    <span class="logout">
       Cerrar sesión
    </span>
    <mat-icon class="icon-logout">logout</mat-icon>
  </div>
  <!-- En caso de que no esté logeado, se muestra el siguiente div -->
  <div class="footer-sidebar" *ngIf="!isLogin" style="cursor: auto!important;"></div>
</div>
